@import 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200i,300i,400i';

html{
	overflow: hidden;
}

body {
	margin: 0;
    color: white;
    height: 100vh;
	background: rgb(170,166,139); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(170,166,139,1) 0%, rgba(72,99,118,1) 49%, rgba(23,50,69,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(170,166,139,1) 0%,rgba(72,99,118,1) 49%,rgba(23,50,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(170,166,139,1) 0%,rgba(72,99,118,1) 49%,rgba(23,50,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    background-repeat: no-repeat;
    font-family: "Raleway", serif;
    font-weight: 200;
}

h1{
	width: 30%;
	height: 12vh;
	min-width: 250px;
	background-image: url("../res/breathe-logo.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	margin: 4vw auto 2vw auto;
	text-indent: -9999px;
}

#start_instructions, #gameId, #subtitles_box{
	width: 40%;
	margin: 0 auto;
}

#start_instructions{
	text-align: center;
	font-size: 1em;
}

#subtitles{
	line-height: 160%;
	font-style: italic;
	font-size: 1em,
}

#gameCanvas{
	display: block;
	margin: 3vh auto;
}

#gui_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: "red";
}

@media only screen and (max-width: 1000px){
	#start_instructions, #gameId, #subtitles_box{
		width: 60%;
	}
}

@media only screen and (max-width: 700px){
	#start_instructions, #gameId, #subtitles_box{
		width: 70%;
	}
}

@media only screen and (max-width: 600px){
	#start_instructions, #gameId, #subtitles_box{
		width: 90%;
	}
}
